@page
@model Sunridge.Pages.Dashboard.AdminDash.Key.History.UpsertModel
<!--Key History Upsert-->
    <form method="post" asp-action="Upsert" enctype="multipart/form-data">
        <div class="container">
            <div class="row px-2 mx-2 backgroundWhite border">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model.KeyHistObj.KeyHistory.Id != 0)
                {
                    <input type="hidden" asp-for="KeyHistObj.KeyHistory.Id" />
                }
               
                <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                    <h2 class="text-primary">@(Model.KeyHistObj.KeyHistory.Id != 0 ? "Update" : "Create")Menu Item</h2>
                </div>
                <div class="col-8 pt-3">
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="KeyHistObj.KeyHistory.Status"></label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" asp-for="KeyHistObj.KeyHistory.Status" />
                            <span class="text-danger" asp-validation-for="KeyHistObj.KeyHistory.Status"></span>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="KeyHistObj.KeyHistory.DateIssued"></label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" asp-for="KeyHistObj.KeyHistory.DateIssued" />
                            <span class="text-danger" asp-validation-for="KeyHistObj.KeyHistory.DateIssued"></span>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="KeyHistObj.KeyHistory.DateReturned"></label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" asp-for="KeyHistObj.KeyHistory.DateReturned" />
                            <span class="text-danger" asp-validation-for="KeyHistObj.KeyHistory.DateReturned"></span>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="KeyHistObj.KeyHistory.PaidAmount"></label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" asp-for="KeyHistObj.KeyHistory.PaidAmount" />
                            <span class="text-danger" asp-validation-for="KeyHistObj.KeyHistory.PaidAmount"></span>

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="KeyHistObj.KeyHistory.KeyId"></label>
                        </div>
                        <div class="col-9">
                            @Html.DropDownListFor(m => m.KeyHistObj.KeyHistory.KeyId,
                           Model.KeyHistObj.KeyList,
                           "-Please select a Key",
                           new { @class = "form=control" })



                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-3">
                            <label asp-for="KeyHistObj.KeyHistory.LotId"></label>
                        </div>
                        <div class="col-9">
                            @Html.DropDownListFor(m => m.KeyHistObj.KeyHistory.LotId,
                           Model.KeyHistObj.LotList,
                           "-Please select a Lot",
                           new { @class = "form=control" })



                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-9 offset-3">
                            <div class="row">
                                <div class="col-6">
                                    @if (Model.KeyHistObj.KeyHistory.Id != 0)
                                    {
                                        <button type="submit" class="btn btn-primary form-control">Update</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary form-control" onclick="return ValidateInput()">Create</button>
                                    }
                                </div>
                                <div class="col-6">
                                    <a asp-page="./Index" class="btn btn-success form-control">Back to List</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>