@page
@model Sunridge.Pages.Dashboard.AdminDash.PhotosManager.Photos.UpsertModel
<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    <div class="container">

        <div class="row px-2 mx-2 backgroundWhite border">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.userPhotosObj.UserPhotos.Id != 0)
            {
                <input type="hidden" asp-for="userPhotosObj.UserPhotos.Id" />
                <input type="hidden" asp-for="userPhotosObj.UserPhotos.UserId" />
            }
            <div class="col-12 px-3" style="border-bottom: 1px solid #325d88">
                <h2 class="text-primary">@(Model.userPhotosObj.UserPhotos.Id != 0 ? "Update" : "Create") Menu Item</h2>
            </div>

            <div class="col-8 pt-3">

                <div class="form-group row">

                    <div class="col-3">
                        <label asp-for="userPhotosObj.UserPhotos.Title"></label>
                    </div>

                    <div class="col-9">
                        <input class="form-control" asp-for="userPhotosObj.UserPhotos.Title" />
                        <span class="text-danger" asp-validation-for="userPhotosObj.UserPhotos.Title"></span>
                    </div>

                </div>


                <div class="form-group row">

                    <div class="col-3">
                        <label asp-for="userPhotosObj.UserPhotos.Year"></label>
                    </div>

                    <div class="col-9">
                        <input class="form-control" asp-for="userPhotosObj.UserPhotos.Year" />
                        <span class="text-danger" asp-validation-for="userPhotosObj.UserPhotos.Year"></span>
                    </div>

                </div>


                <div class="form-group row">

                    <div class="col-3">
                        <label asp-for="userPhotosObj.UserPhotos.Image"></label>
                    </div>

                    <div class="col-9">
                        <input type="file" class="form-control" name="files" id="files" />
                    </div>

                </div>

                <div class="form-group row">

                    <div class="col-3">
                        <label asp-for="userPhotosObj.UserPhotos.CategoryId"></label>
                    </div>

                    <div class="col-9">
                        @Html.DropDownListFor(m => m.userPhotosObj.UserPhotos.CategoryId,
                       Model.userPhotosObj.CategoryList,
                       "-Please select a Category",
                       new { @class = "form=control" })

                        <span class="text-danger" asp-validation-for="userPhotosObj.UserPhotos.CategoryId"></span>

                    </div>

                </div>




                <div class="form-group row">

                    <div class="col-9 offset-3">

                        <div class="row">

                            <div class="col-6">
                                @if (Model.userPhotosObj.UserPhotos.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control" onclick="return ValidateInput()">Create</button>
                                }

                            </div>

                            <div class="col-6">
                                <a asp-page="./Index" class="btn btn-success form-control">Back To List</a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            @if (Model.userPhotosObj.UserPhotos != null)
            {
                <div class="clo-4 p-4">
                    <img src="\@Model.userPhotosObj.UserPhotos.Image" width="100%" style="border-radius: 5px; border: 1px solid #bbb9b9;" />

                </div>
            }
        </div>

    </div>



</form>

