@page
@model Sunridge.Pages.Dashboard.OwnerDash.Forms.WIKModel
@{
    ViewData["Title"] = "WIK";
}

<h1>Work In Kind Hours form</h1>


<form method="post" asp-action="Upsert">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.FormResObj.InKindWorkHours.Id != 0)
            {
                <input type="hidden" asp-for="FormResObj.InKindWorkHours.Id" />
            }
            @if (Model.FormResObj.FormSubmissions.Id != 0)
            {
                <input type="hidden" asp-for="FormResObj.FormSubmissions.Id" />
            }
            @if (Model.FormResObj.FormResponse.Id != 0)
            {
                <input type="hidden" asp-for="FormResObj.FormResponse.Id" />
            }

            <input type="hidden" asp-for="FormResObj.FormSubmissions.IsWik" value="true" />
            <input type="hidden" asp-for="FormResObj.FormResponse.Resolved" value="false" />
            <input type="hidden" asp-for="FormResObj.FormResponse.FormType" value="WIK" />
            <input type="hidden" asp-for="FormResObj.FormResponse.ResolveUser" value="None" />
            <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                <h2 class="text-primary">@(Model.FormResObj.InKindWorkHours.Id != 0 ? "Update" : "Create") Form</h2>
            </div>
            <div class="col-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="FormResObj.InKindWorkHours.Activity">Describe Activity (List what you did):</label>
                    </div>
                    <div class="col-9">
                        <textarea class="form-control" asp-for="FormResObj.InKindWorkHours.Activity" id="txtDesc" style="height:200px;">@Html.Raw("text")</textarea>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="FormResObj.InKindWorkHours.Equipment">Describe Equipment used :</label>
                    </div>
                    <div class="col-9">
                        <textarea class="form-control" asp-for="FormResObj.InKindWorkHours.Equipment" id="txtDesc" style="height:200px;">@Html.Raw("text")</textarea>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="FormResObj.InKindWorkHours.Hours"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="FormResObj.InKindWorkHours.Hours" />
                        <span class="text-danger" asp-validation-for="FormResObj.InKindWorkHours.Hours"></span>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                <button type="submit" class="btn btn-primary form-control">@(Model.FormResObj.InKindWorkHours.Id != 0 ? "Update" : "Create")</button>
                            </div>
                            <div class="col-6">
                                <a asp-page="/OwnerDash/Forms/Index" class="btn btn-success form-control">Back to Forms</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <script>tinymce.init({ forced_root_block: "", selector: 'textarea' });</script>
}