<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sunridge</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/toastr.css" />
    <link rel="stylesheet" type="text/css" href="~/css/toaster.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @*<a class="navbar-brand" asp-area="" asp-page="/Index">Sunridge</a>*@
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Home/Index">Home</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Home/Board">Board Members</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-black dropdown-toggle" href="#" id="navbarDropDown" data-toggle="dropdown">Classified Ads</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-black" asp-page="/Classifieds/Lots">Lots</a>
                                <a class="dropdown-item text-black" asp-page="/Classifieds/Cabins">Cabins</a>
                                <a class="dropdown-item text-black" asp-page="/Classifieds/Trailers">Trailers</a>
                                <a class="dropdown-item text-black" asp-page="/Classifieds/ATV">ATVs</a>
                                <a class="dropdown-item text-black" asp-page="/Classifieds/Others">Other Services</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-black dropdown-toggle" href="#" id="navbarDropDown" data-toggle="dropdown">Documents</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item text-black" asp-page="/Documents/Rules">Rules</a>
                                <a class="dropdown-item text-black" asp-page="/Documents/Maps">Maps</a>
                                <a class="dropdown-item text-black" href="~/docs/Sunridge By-laws.doc">Bylaws</a>
                            </div>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Home/Calendar">Event Calendar</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Home/FireInfo">Fire Info</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Home/News">News</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Home/LostFound">Lost & Found</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-page="/Blog/Index">Blog</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-4 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="mailto:Webmaster@sunridge.info" target="_top">Contact</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Sunridge 2019. All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-xs-4 h-100 text-center my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a class="link" asp-page="About">About this site</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-xs-4 h-100 text-center text-lg-right my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="https://www.facebook.com/SunridgePropertyOwnersAssociation/" target="_blank">
                                <i class="fab fa-facebook-square fa-2x"></i>
                                <p>Visit / Like us on Facebook</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.tiny.cloud/1/64cmedbz0kjehxdfz62fr8zri5cycgitcs7xuhok3ti9vd2i/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
