@page
@model Sunridge.Pages.Blog.ProfilePicModel
@{
    ViewData["Title"] = "SampleCard";
}
<style>
    .card {
        margin-left: -15px;
        margin-right: -15px;
    }
</style>
<h1>Creating a Profile Picture</h1>

<div class="container-fluid my-5" style="margin-left: -15px; margin-right: -15px;">
    <div>
        <h5>How to Upload a Profile Picture</h5>
        <p>
            To upload a profile picture, click the 'Choose File' button below, select a picture, and then hit upload.
        </p>
    </div>
    <br />
    <form method="POST" enctype="multipart/form-data">
        <div class="row p-2">
            <div class="col-6">
                <input type="file" id="userPhotos2" name="userPhotos2">
            </div>
        </div>
        <div class="row p-2">
            <div class="col-6">
                <button type="submit" class="btn btn-info text-center small"><i class="fa fa-upload"></i> Upload</button>
            </div>
        </div>
    </form>
</div>