@page
@model Sunridge.Pages.Dashboard.AdminDash.CommonArea.Maintenance.UpsertModel
@{
    ViewData["Title"] = "Upsert";
    Layout = "_DashboardLayout";
}
<!--Maintenance-->
    <h1>Maintenance</h1>
<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.MantObj.Maintenance.Id != 0)
            {
                <input type="hidden" asp-for="MantObj.Maintenance.Id" />
            }

            <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                <h2 class="text-primary">@(Model.MantObj.Maintenance.Id != 0 ? "Update" : "Create")  Key History</h2>
            </div>
            <div class="col-8 pt-3">
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="MantObj.Maintenance.CommonAreaAssetId"></label>
                    </div>
                    <div class="col-9">
                        @Html.DropDownListFor(m => m.MantObj.Maintenance.CommonAreaAssetId,
                       Model.MantObj.CommonAssetList,
                       "-Please select a Common Area Asset",
                       new { @class = "form=control" })



                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="MantObj.Maintenance.Cost"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="MantObj.Maintenance.Cost" />
                        <span class="text-danger" asp-validation-for="MantObj.Maintenance.Cost"></span>

                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label asp-for="MantObj.Maintenance.DateCompleted"></label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" asp-for="MantObj.Maintenance.DateCompleted" />
                        <span class="text-danger" asp-validation-for="MantObj.Maintenance.DateCompleted"></span>

                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-9 offset-3">
                        <div class="row">
                            <div class="col-6">
                                @if (Model.MantObj.Maintenance.Id != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control" onclick="return ValidateInput()">Create</button>
                                }
                            </div>
                            <div class="col-6">
                                <a asp-page="./Maintenance" class="btn btn-success form-control">Back to List</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
